@font-face {
  font-family: 'Bitter';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/bitter.woff2") format("woff2"),
       url("../fonts/bitter.woff") format("woff");
}